<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/matheus.dias.5855"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/mdias0896/"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/matheus-dias-044a971a5/"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:matheus2006_dias@hotmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">Musically</a></u> Movidos pela musica e pelas pessoas</p>
                <p class="h6">© Todos os direitos reservados <a class="text-green ml-2" href="https://www.linkedin.com/in/matheus-dias-044a971a5/" target="_blank">Matheus Dias Barbosa</a></p>
            </div>
            <hr>
        </div>	
    </div>
</section>