<div class="container  mt-5 mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Carrinho</li>
        </ol>
    </nav>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td *ngIf="product$ | async as productin" class="d-flex justify-content-start align-items-center">
                    <img src="../../../assets/images/{{productin['image']}}" alt="" width="15%">
                    <p>{{productin['name']}}</p>
                </td>
                <td >
                    {{item['qte']}} unidade(s)
                </td>
                <td *ngIf="product$ | async as productin" >
                    {{productin['price']}}
                </td>
                <td *ngIf="product$ | async as productin" >
                    {{ (productin['price'] * item['qte']) }}
                </td>
            </tr>
        </tbody>
      </table>
      <a routerLink="checkout">Checkout</a>
    
</div>