<div class="w-100 d-flex justify-content-around align-items-center mt-4" style="padding: 0 1%;">
    <div class="block-free d-flex justify-content-around align-items-center mr-2" style="margin-right: 1%;">
        <div class="icon-block">
            <i class="fas fa-truck"></i>
        </div>
        <div class="information block">
            <h5>Frete grátis <br> Para compras de até R$ 1200,00 </h5>
        </div>
    </div>

    <div class="block-free d-flex justify-content-around align-items-center mr-2" style="margin-right: 1%;">
        <div class="icon-block">
            <i class="fas fa-truck"></i>
        </div>
        <div class="information block">
            <h5>Frete grátis <br> Para compras de até R$ 1200,00 </h5>
        </div>
    </div>

    <div class="block-free d-flex justify-content-around align-items-center mr-2" style="margin-right: 1%;">
        <div class="icon-block">
            <i class="fas fa-truck"></i>
        </div>
        <div class="information block">
            <h5>Frete grátis <br> Para compras de até R$ 1200,00 </h5>
        </div>
    </div>

    <div class="block-free d-flex justify-content-around align-items-center">
        <div class="icon-block">
            <i class="fas fa-truck"></i>
        </div>
        <div class="information block">
            <h5>Frete grátis <br> Para compras de até R$ 1200,00 </h5>
        </div>
    </div>
</div>