<div class="carg-products--group d-flex justify-content-center align-items-center w-100 " style="flex-wrap: wrap;">
    <div *ngFor="let product of products" class="card mr-4" style="width: 18rem; margin: 1% 2%">
        <img src=".../../../../../assets/images/{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title"><a [routerLink]="['/product/'] + product.id ">{{product.name}}</a></h5>
          <hr>
          <a href="http://"><p class="card-text">{{product.price}}</p></a>
        </div>
      </div>
</div>
