<div class="carg-products--group d-flex justify-content-center align-items-center w-100 " style="flex-wrap: wrap;">
    <div *ngFor="let product of products" class="card mr-4" style="width: 18rem; margin: 1% 2%; position: relative; height: 32rem">
      <a class="link-product" [routerLink]="['/product/'] + product.id">  
        <span class="badge-category">{{product.category}}</span>
        <img src=".../../../../../assets/images/{{product.image}}" class="card-img-top" alt="..." width="85%">
        <div class="card-body">
          <h6 class="card-title">{{product.name}}</h6>
            <p class="card-text">Estoque {{product.stock > 0 ? 'Disponivel' : 'Indisponivel'}}</p>
            <p class="card-text">R$ {{product.price}}</p>
            <hr>
            <button class="btn btn-secondary btn-cart--add {{product.stock <= 0 ? '' : 'disabled' }}disabled" (click)="addCart(product.id)">Adicionar ao carrinho</button>
          </div>
        </a>
    </div>
</div>
