.badge-category {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 27px;
    width: 33%;
    border-radius: 10px;
    background: #892F1A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.link-product {
    text-decoration: none;
    color: black;
}
.btn-cart--add {
    width: 80%;
    text-align: center;
    position: absolute;
    bottom:10px;
    left: 10px;
}